<div style=border:solid 1px #93b8a6; width: 100% ; display: flex; flex-direction: column;>
    <h5 style=margin:20px 0px 0px 0px; text-align: center;><strong>SAMEL SERVICOS DE ASSISTENCIA MEDICO
            HOSPITALAR LTDA</strong></h5>
    <p style=margin:0px; display: flex; justify-content: center;><small>Rua Joaquim Nabuco, 1755 - Manaus - AM
            - CEP 69020030 - Fone: 21292200</small></p>
    <p style=margin:0px; display: flex; justify-content: center;><small>CRF-RS 5-11649 CNPJ: 04159778000107
            INSCRI. MUN.:</small></p>
</div>

<div style=display:flex; flex-direction: row; width: 100%; margin-bottom: 10px;> 
<div style=width:50%; border: solid 1px #93b8a6> 
<p style=text-align:center><strong>${nomeDoc}</strong></p> 
</div> 
<div style=width:50%; border: solid 1px #93b8a6> 
<p style=text-align:center><strong>ATENDIMENTO: </strong><strong>${atendimento.nrAtendimento}</strong></p> 
</div> 
</div> 
