<div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 10px;">
    <div style=width:50%; border: solid 1px #93b8a6; padding-left: 10px;>
        <p style="margin:5px 0px 0px 0px;"><strong>Paciente:</strong> ${atendimento.nomeCliente}</p>
        <p style="margin:0px 0px 5px 0px;"><strong>Data Nasc:</strong> ${atendimento.dataNascimento}</p>

    </div>
    <div style="width: 50%; border: solid 1px #93b8a6; padding-left: 10px;">
        <p style="margin:5px 0px 0px 0px;"><strong>Convênio:</strong> ${atendimento.dsConvenio}</p>
        <p style="margin:0px 0px 5px 0px;"><strong>Setor:</strong> ${atendimento.dsSetor}</p>
    </div>
</div>


<div style="display: flex; margin-bottom: 10px; width: 100%;">
    <div style="width: 100%; border: solid 1px #93b8a6">
        <p style="text-align: left;margin-left: 10px"><strong>${nomeDoc}</strong></p>
    </div>
    <div style=" width: 100%; border: solid 1px #93b8a6">
        <p style="text-align: left;margin-left: 10px"><strong>ATENDIMENTO:
            </strong><strong>${atendimento.nrAtendimento}</strong>
        </p>
    </div>
</div>